<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Osakidetza - Main Page </title>
  </head>
</html>
<link href="https://fonts.googleapis.com/css?family=Ruslan+Display" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstraptheme.min.css"> 
</head> 
<body>    
    <div class="page-header">        
        <h1>
            <a href="/">Osakidetza</a>
            <a href="{% url 'add-paziente' %}">add paziente</a>
            <a href="{% url 'add-mediku' %}">add mediku</a>
            <a href="{% url 'delete-paziente' %}">delete paziente</a>
            <a href="{% url 'delete-mediku' %}">delete mediku</a>
            {% comment %} <a href="{% url 'edit-paziente' pazienteak.izena %}">edit paziente</a> {% endcomment %}
            
        </h1>    
        
    </div>    
    <div class="content container"> 
        <div class="row">    
            <div class="col-md-8">                
                {% block content %}                
                {% endblock %}            
            </div>        
        </div>    
    </div> 
</body> 
</html>